<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Browser" value="Firefox" />
    <add key="ValidRequesterEmail" value="usuariodelamano+automatizado@gmail.com" />
    <add key="ValidRequesterPassword" value="Test$1234" />
    <add key="ValidAmbassadorEmail" value="usuariodelamano+embajador@gmail.com" />
    <add key="ValidAmbassadorPassword" value="Test$1234" />
    <add key="BaseEmail" value="usuariodelamano+" />
    <add key="BaseEmailDomain" value="@gmail.com" />
    <add key="BlockedEmail" value="usuariodelamano+blocked@gmail.com" />
    <add key="FilePathImage" value="c:\\gato.jpg" />
  </appSettings>
</configuration>